Autor:  
Manuel Eugenio Morocho Cayamcela, PhD

# **Caso práctico 1:** 
## Procesamiento y Transformación de Datos para Análisis de Crédito

### Objetivos y alcance del trabajo:


Este caso práctico cubrirá tres fases clave en el procesamiento y transformación de datos para el análisis de crédito: limpieza de datos, transformación de datos y selección de características. Utilizaremos un conjunto de datos de solicitudes de crédito para este caso práctico.

Aquí tienes una descripción de cada columna del dataset:

1. ID: Identificador único para cada registro.
2. Customer_ID: Identificador único para cada cliente.
3. Month: Mes en el que se registró la información.
4. Name: Nombre del cliente.
5. Age: Edad del cliente.
6. SSN: Número de Seguro Social del cliente.
7. Occupation: Ocupación del cliente.
8. Annual_Income: Ingreso anual del cliente.
9. Monthly_Inhand_Salary: Salario mensual disponible del cliente.
10. Num_Bank_Accounts: Número de cuentas bancarias del cliente.
11. Num_Credit_Card: Número de tarjetas de crédito del cliente.
12. Interest_Rate: Tasa de interés aplicada al cliente.
13. Num_of_Loan: Número de préstamos del cliente.
14. Type_of_Loan: Tipo de préstamo(s) del cliente.
15. Delay_from_due_date: Retraso desde la fecha de vencimiento del pago.
16. Num_of_Delayed_Payment: Número de pagos retrasados del cliente.
17. Changed_Credit_Limit: Límite de crédito modificado del cliente.
18. Num_Credit_Inquiries: Número de consultas de crédito realizadas por el cliente.
19. Credit_Mix: Mezcla de crédito del cliente.
20. Outstanding_Debt: Deuda pendiente del cliente.
21. Credit_Utilization_Ratio: Relación de utilización de crédito del cliente.
22. Credit_History_Age: Antigüedad del historial de crédito del cliente.
23. Payment_of_Min_Amount: Pago del monto mínimo realizado por el cliente.
24. Total_EMI_per_month: Total de cuotas mensuales del cliente.
25. Amount_invested_monthly: Cantidad invertida mensualmente por el cliente.
26. Payment_Behaviour: Comportamiento de pago del cliente.
27. Monthly_Balance: Saldo mensual del cliente.
28. Credit_Score: Puntuación de crédito del cliente.

### **Fase I:** Limpieza de Datos

#### Carga de Datos

Primero, necesitamos cargar nuestro conjunto de datos desde el archivo CSV.

In [17]:
import pandas as pd

data = pd.read_csv('/Users/eugenio/Library/CloudStorage/OneDrive-Personal/UIDE/2024 Maestría Ciencia de Datos y Máquinas de Aprendizaje mención IA/Contenidos/Notebooks_DataMining/Bases-de-Datos/credit-score.csv')

/var/folders/8j/f0xtldm91_1c2bpdr69fxgzw0000gn/T/ipykernel_7469/917746317.py:3: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('/Users/eugenio/Library/CloudStorage/OneDrive-Personal/UIDE/2024 Maestría Ciencia de Datos y Máquinas de Aprendizaje mención IA/Contenidos/Notebooks_DataMining/Bases-de-Datos/credit-score.csv')

#### Exploración de Tipos de Datos

Visualizamos el dataframe importado

In [18]:
data

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0x25fe9,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.866228,Poor
99996,0x25fea,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.65161,Poor
99997,0x25feb,CUS_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,High_spent_Large_value_payments,516.809083,Poor
99998,0x25fec,CUS_0x942c,July,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,Good,502.38,33.638208,31 Years and 9 Months,No,35.104023,251.67258219721603,Low_spent_Large_value_payments,319.164979,Standard
99999,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628.99_,3359.415833,4,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,!@9#%8,393.673696,Poor


Para entender qué tipo de datos tenemos, podemos usar el método `info()`.

In [ ]:
data.info()

#### Eliminación de columnas que no aportan información útil

La decisión de qué columnas eliminar depende en gran medida del contexto y del objetivo de tu análisis. Sin embargo, aquí hay algunas pautas generales que podrías considerar:

**Columnas con valores únicos**: Las columnas que contienen un valor único para cada fila (como un ID) generalmente no aportan información útil para un modelo de aprendizaje automático y pueden ser eliminadas.

Vamos a usar la función `drop` de pandas para eliminar las columnas con valores únicos. 
`data.drop(...)`: Esta es la función de pandas que se utiliza para eliminar columnas o filas de un DataFrame.
Después de ejecutar este código, el DataFrame `data` ya no incluirá las columnas que hayamos eliminado.

Por ejemplo, la columna 'Name' contiene los nombres de los individuos que han solicitado créditos. En general, los nombres de las personas no proporcionan información útil para un modelo de aprendizaje automático, ya que son únicos para cada individuo y no tienen una relación directa con otras variables.

Además, codificar columnas con valores únicos, podría resultar en un gran número de características únicas, lo que podría hacer que tu modelo sea más complejo y difícil de entrenar.

Por lo tanto, en la mayoría de los casos, es seguro eliminar la columna 'Name' del conjunto de datos.

Sin embargo, hay excepciones. Por ejemplo, si los nombres tienen algún tipo de información codificada (como un prefijo que indica el género o el estatus social), podrías extraer esa información antes de eliminar la columna. Pero en la mayoría de los casos, especialmente si estás tratando con nombres reales de personas, es mejor eliminar la columna.

In [ ]:
# Eliminamos columnas que no aportan información relevante para el análisis

data = data.drop(['ID', 'Customer_ID', 'Name'], axis=1)

#### Identificación y Manejo de Valores Faltantes

In [ ]:
# Identificar valores faltantes
missing_values = data.isnull().sum()
missing_values

**Eliminar columnas con muchos valores faltantes**: Si una columna tiene una gran cantidad de valores faltantes, podría ser más útil eliminarla que intentar imputar los valores faltantes.

In [ ]:
# Eliminar columnas con más del 70% de valores faltantes

threshold = int(len(data) * 0.7)
data = data.dropna(thresh=threshold, axis=1)

**Reemplazar valores faltantes en columnas con pocos valores faltantes**: Los valores faltantes pueden ser identificados con el método `isnull()`. Para manejarlos, podemos usar la imputación (rellenar los valores faltantes con la media, mediana, o moda) o simplemente eliminar las filas con valores faltantes.

In [ ]:
# Rellenar con la media
numeric_columns = data.select_dtypes(include=[np.number]).columns
data[numeric_columns] = data[numeric_columns].fillna(data[numeric_columns].mean())

La imputación de la media no es aplicable a las columnas de tipo string (categóricas). Para las columnas categóricas, puedes considerar diferentes métodos de imputación, como el más frecuente (moda), una constante o una cadena de texto específica como 'Desconocido'. Aquí te dejo un ejemplo de cómo hacerlo con pandas:

In [ ]:
# Rellenar con la moda
categorical_columns = data.select_dtypes(include=[np.object]).columns
data[categorical_columns] = data[categorical_columns].fillna(data[categorical_columns].mode().iloc[0])

**Columnas con alta correlación**: Si tienes dos columnas que están altamente correlacionadas, podrías considerar eliminar una de ellas. La razón es que ambas contienen información similar y tener ambas en el análisis podría introducir multicolinealidad.



Recuerda que estas son solo pautas generales y la decisión final de qué columnas eliminar debe basarse en el conocimiento del dominio y el objetivo de tu análisis.


**Codificación de Variables Categóricas**: Las variables categóricas como 'Occupation' y 'Type_of_Loan' deben ser codificadas antes de ser usadas en un modelo. Podrías usar codificación one-hot o codificación de etiquetas dependiendo de la naturaleza de los datos.

In [ ]:
# Codificación one-hot
data_encoded = pd.get_dummies(data, columns=['Occupation', 'Type_of_Loan'])

**Escalado de Características**: Las características como 'Annual_Income', 'Monthly_Inhand_Salary', 'Outstanding_Debt' podrían tener diferentes rangos y podrían necesitar ser escaladas.

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
data_scaled = scaler.fit_transform(data[['Annual_Income', 'Monthly_Inhand_Salary', 'Outstanding_Debt']])

**Selección de Características**: Podrías usar métodos como la correlación de Pearson para identificar las variables más relevantes para tu variable objetivo.

In [ ]:
correlation = data.corr()
correlation['Credit_Score'].sort_values(ascending=False)


#### Identificación y Manejo de Outliers

Los outliers pueden ser identificados utilizando métodos estadísticos, como el método del rango intercuartil (IQR). Una vez identificados, pueden ser eliminados o ajustados.

In [ ]:
# Identificar outliers con el método IQR
Q1 = data.quantile(0.25)
Q3 = data.quantile(0.75)
IQR = Q3 - Q1

# Eliminar outliers
data = data[~((data < (Q1 - 1.5 * IQR)) | (data > (Q3 + 1.5 * IQR))).any(axis=1)]

#### Identificación y Manejo de Datos Inconsistentes

Los datos inconsistentes pueden ser identificados revisando los valores únicos de cada característica. Una vez identificados, pueden ser corregidos o eliminados.

In [ ]:
# Identificar datos inconsistentes
for column in data.columns:
    print(data[column].unique())

#### Balanceo de Datos

El balanceo de datos puede ser necesario si nuestra variable objetivo está desbalanceada. Podemos usar técnicas como el oversampling o el undersampling.

In [ ]:
from imblearn.over_sampling import SMOTE

smote = SMOTE()
X_res, y_res = smote.fit_resample(data.drop('target', axis=1), data['target'])



### **Fase II:** Transformación de Datos

#### Normalización

La normalización ajusta los valores en un rango común.

In [ ]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
data_normalized = pd.DataFrame(scaler.fit_transform(data), columns=data.columns)



#### Discretización

La discretización convierte las variables continuas en variables discretas.

In [ ]:
data['age'] = pd.cut(data['age'], bins=3, labels=['young', 'middle-aged', 'old'])



#### Codificación de Variables

La codificación de variables convierte las variables categóricas en variables numéricas.

In [ ]:
data_encoded = pd.get_dummies(data, drop_first=True)

### **Fase III:** Modelado y Evaluación



Finalmente, podemos usar una regresión lineal (o cualquier otro modelo de aprendizaje automático) para predecir si a un cliente se le otorgará crédito o no.

In [ ]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(X_res, y_res)



Este tutorial es solo una introducción a las técnicas de procesamiento y transformación de datos. Hay muchas otras técnicas y métodos disponibles, y la elección de las técnicas a utilizar dependerá de la naturaleza de tus datos y del problema que estés tratando de resolver.

### **Resolución:**